.compare {
  display: flex;
  align-items: center;
  overflow-y: auto;
  flex-direction: column;
  margin-top: 90px;
}

.compare img {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
